<div style="margin-top: 30px;">
  <h5>Classes</h5>
  <table>
      <thead>
          <tr>
              <th>Class Name</th>
              <th>Location</th>
              <th>Teacher Name</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of dataSource" >
             <td  [ngClass]="{'highlight': selectedRowIndex == item.id}" (click)="clickRow(item)">{{item.className}}</td>
              <td [ngClass]="{'highlight': selectedRowIndex == item.id}" (click)="clickRow(item)" >{{item.location}}</td>
              <td [ngClass]="{'highlight': selectedRowIndex == item.id}"  (click)="clickRow(item)">{{item.teacher}}</td>
              <td [ngClass]="{'highlight': selectedRowIndex == item.id}" >
                  <button mat-button (click)="Edit(item)">Edit</button>
                  <button mat-button (click)="Delete(item)">Delete</button>

              </td>
          </tr>
      </tbody>
  </table>
  <button color="primary" mat-button (click)="Add()">Add New Class</button>

</div>