<h2 *ngIf="IsNew" mat-dialog-title> New Class</h2>
<h2 *ngIf="!IsNew" mat-dialog-title>Edit Class</h2>

<mat-dialog-content>
  <div [formGroup]="studentForm">

    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Student Name" formControlName="studentName">
        <mat-error *ngIf="studentForm.get('studentName').hasError('isExs')">This student exists</mat-error>

      </mat-form-field>

      <mat-form-field>
        <input matInput  type="number" placeholder="Age" formControlName="age">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="GPA" formControlName="gpa">
      </mat-form-field>

    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-button (click)="save()" [disabled]="!studentForm.valid">Save</button>
</mat-dialog-actions>