<div id="header_wrapper">
    <div id="header">
      <div id="site_title">
        <h1><img src="/assets/images/logo.png" alt="" /> </h1>
      </div>
    </div>
    <!-- end of header -->
  </div>
  <div class="container">
    <h3>Please select a class to show student list. </h3>
      <app-class ></app-class>
      <router-outlet></router-outlet> 
  </div>